
@{
    ViewBag.Title = "LuxuryTours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetop">
    <div class="container">
        <h1>Luxury Tours</h1>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li><a title="" href="#">Packages</a></li>
            <li>Room Packages</li>
        </ul>
    </div>
</div><!-- Page Top -->



<section>
    <div class="block gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="row narrow">
                        <div class="gallery masonary">
                            <div class="col-md-2">
                                <div class="gallery-box">
                                    <img src="~/Assets/images/resource/gallery1.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$29.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">Canyoning</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Dinner</a></li>
                                                <li><a href="#" title="">Breakfast</a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-6">
                                <div class="gallery-box bottom">
                                    <img src="~/Assets/images/resource/gallery2.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$93.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">WATER RAFTING</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Bus Transportation</a></li>
                                                <li><a href="#" title="">Experienced Guides </a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-4">
                                <div class="gallery-box">
                                    <img src="~/Assets/images/resource/gallery3.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$58.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">CANOPY TOURS</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Transportation</a></li>
                                                <li><a href="#" title="">Guides </a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-12">
                                <div class="gallery-box left">
                                    <img src="~/Assets/images/resource/gallery4.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$59.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">HORSEBACK RIDING</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Entrance To The Waterfall</a></li>
                                                <li><a href="#" title="">Local Guide </a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-12">
                                <div class="gallery-box right">
                                    <img src="~/Assets/images/resource/gallery5.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$59.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">HORSEBACK RIDING</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Entrance To The Waterfall</a></li>
                                                <li><a href="#" title="">Local Guide </a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-4">
                                <div class="gallery-box">
                                    <img src="~/Assets/images/resource/gallery6.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$58.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">CANOPY TOURS</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Transportation</a></li>
                                                <li><a href="#" title="">Guides </a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-6">
                                <div class="gallery-box bottom">
                                    <img src="~/Assets/images/resource/gallery7.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$93.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">WATER RAFTING</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Bus Transportation</a></li>
                                                <li><a href="#" title="">Experienced Guides </a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                            <div class="col-md-2">
                                <div class="gallery-box">
                                    <img src="~/Assets/images/resource/gallery8.jpg" alt="" />
                                    <div class="gallery-hover">
                                        <div class="gallery-inner">
                                            <span><strong class="amount">$29.00 </strong>/ Extra</span>
                                            <h5><a title="" href="packages-detail.html">Canyoning</a></h5>
                                            <ul>
                                                <li><a href="#" title="">Dinner</a></li>
                                                <li><a href="#" title="">Breakfast</a></li>
                                            </ul>
                                            <a class="book-now" @Html.ActionLink("Book Now", "PackagesDetail", "Home")
                                        </div>
                                    </div>
                                </div><!-- Gallery Box -->
                            </div>
                        </div>
                    </div><!-- Gallery -->
                </div>
            </div>
        </div>
    </div>
</section>