
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetop">
    <div class="container">
        <h1>SERVICES</h1>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>Services</li>
        </ul>
    </div>
</div><!-- Page Top -->



<section>
    <div class="block gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="services-page">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img1.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon1.png" alt="" /></span>
                                        <h5> @Html.ActionLink("Offers Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img2.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon2.png" alt="" /></span>
                                        <h5> @Html.ActionLink("Spa Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img3.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon3.png" alt="" /></span>
                                        <h5>@Html.ActionLink("Dinning Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img4.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon1.png" alt="" /></span>
                                        <h5>@Html.ActionLink("Offers Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img5.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon2.png" alt="" /></span>
                                        <h5>@Html.ActionLink("Spa Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img6.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon3.png" alt="" /></span>
                                        <h5>@Html.ActionLink("Dinning Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img7.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon1.png" alt="" /></span>
                                        <h5>@Html.ActionLink("Offers Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                            <div class="col-md-3">
                                <div class="service-box">
                                    <img src="~/Assets/images/resource/service-img8.jpg" alt="" />
                                    <div class="service-name">
                                        <span><img src="~/Assets/images/service-icon2.png" alt="" /></span>
                                        <h5>@Html.ActionLink("Spa Retrate", "PackagesDetail", "Home")</h5>
                                    </div>
                                </div><!-- Service Box -->
                            </div>
                        </div>
                    </div><!-- Services Page -->
                </div>
            </div>
        </div>
    </div>
</section>
